* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(244, 140, 71, 0.99);
    overflow-x: hidden;
}

header {
    font-family: "Honk", system-ui;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(0, 12, 37);
    border-bottom: 5px solid white;
    width: 2400px;
}

div.cuerpo_text h2 {
    font-family: "Righteous", sans-serif;
}

div.cuerpo_text {
    width: 870px;
    height: 220px;
    font-family: "Prompt", sans-serif;
    border: 5px solid white;
    margin: 20px 60px 10px 40px;
    padding: 5px 30px;
    border-radius: 15px;
    background-color: rgb(0, 12, 37);
    color: papayawhip;
    float: right;
    font-size: 20px;
}

div.contenedor1 {
    visibility: hidden;
    text-align: center;
}

div.contenedor2 {
    visibility: hidden;
    text-align: center;
}

div.contenedor3 {
    visibility: hidden;
    text-align: center;
}

div.contenedor4 {
    visibility: hidden;
    text-align: center;
}

div.contenedor5 {
    visibility: hidden;
    text-align: center;
}

#textoaside {
    width: 185px;
    height: 815px;
    font-family: "Prompt", sans-serif;
    border: 5px solid white;
    margin: 15px;
    padding: 5px 30px;
    border-radius: 15px;
    background-color: #000c25;
    color: papayawhip;
    float: left;
}

nav.links_text {
    font-family: "Prompt", sans-serif;
    border-bottom: 5px solid white;
    border-left: 5px solid white;
    border-right: 5px solid white;
    padding: 5px 30px;
    border-radius: 15px;
    background-color: rgba(244, 140, 71, 0.99);
    color: papayawhip;
    float: left;
    align-items: center;
    margin-bottom: 30px;
}

button.boton {
    font-family: "Righteous", sans-serif;
    display: inline-block;
    background-color: rgba(244, 140, 71, 0.99);
    border: 5px solid white;
    padding: 15px 25px;
    color: papayawhip;
    text-decoration: none;
    border-radius: 15px;
    float: left;
    align-items: center;
    cursor: pointer;

}

.boton:hover, .boton:active, .boton:focus {
    box-shadow: 0 0 20px #f6e1e1;
    font-weight: bold;
}

a:link {
    color: rgba(1, 93, 253, 0.94);
}

a:visited {
    color: rgb(205, 23, 232);
}

a:active {
    font-weight: bold;
}

footer {
    text-align: center;
    background-color: #cec6bf;
    width: 2400px;
    height: 150px;
    margin-top: 1400px;
    color: dimgray;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: xx-large;

}

body.Help {
    background-color: #cec6bf
}

#tituloprincipal {
    font-size: 120px;
}

#helpboton {
    font-size: 50px;
}

textarea {
    resize: none;
}

.SecondButtom{
    font-family: "Righteous", sans-serif;
    background-color: #ffffff;
    border: 5px solid rgba(244, 140, 71, 0.99);
    padding: 15px 25px;
    color: rgba(244, 140, 71, 0.99);
    text-decoration: none;
    border-radius: 15px;
    align-items: center;
    cursor: pointer;
    float: right;
}